.app {
  min-height: 100vh;
  background-color: rgb(60, 191, 235);
  display: flex;
  justify-content: space-around;
}

.tweet {
  height: 300px;
  width: 300px;
  background: white;  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.red {
  color: red;
  font-size: 50px;
}
